Fabric==1.10.0
Flask==0.10.1
Flask-Admin==1.0.8
Flask-Cors==1.9.0
Flask-Login==0.2.11
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
Logbook==0.7.0
MarkupSafe==0.23
PyYAML==3.11
Pygments==1.6
SQLAlchemy==0.9.7
Sphinx==1.2.3
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
cov-core==1.14.0
coverage==3.7.1
docutils==0.12
ecdsa==0.11
execnet==1.2.0
gpiocrust==1.0.0
httpretty==0.8.3
itsdangerous==0.24
mock==1.0.1
paramiko==1.15.1
pep8==1.5.7
piprot==0.8.2
py==1.4.25
pycrypto==2.6.1
pynt==0.8.0
pytest==2.6.3
pytest-cache==1.0
pytest-cov==1.8.0
pytest-pep8==1.0.6
python-coveralls==2.4.3
quick2wire-api==0.0.0.2
requests==2.4.2
requests-futures==0.9.5
sh==1.09
six==1.8.0
sphinxcontrib-httpdomain==1.2.1
urllib3==1.7.1
git+http://www.github.com/OrangeTux/quick2wire-python-api.git@#55
